@import './resets';
@import './variables';
@import './card';
@import './footer';



body {
    font-family: $font;
    height: 100vh;
    background-image: url(../images/pattern-background-mobile.svg);
    background-color: $pale-blue;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template: 1fr minmax(567px, 697px) 1fr 30px / minmax(15px, auto) minmax(250px, 450px) minmax(15px, auto);
    justify-content: center;
    align-content: center;
}
